/*-- scss:defaults --*/

// fonts
@import 'https://fonts.googleapis.com/css2?family=Roboto&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';


$font-family-sans-serif: "Atkinson Hyperlegible", sans-serif;
$code-block-font-size: 0.9em;
$presentation-font-size-root: 50px;
$link-color: #2F2E4E;




/*-- scss:rules --*/


.reveal .title-top h2 {
  color: #2F2E4E;
}

.reveal .invert {
  background-color: #2F2E4E !important;
  color: #ffffff;
}

.reveal .custom-title {
  color: #ffffff;
  font-size: 2.6em;
  position: absolute; 
  left: 350px; 
  top: 280px
}

.reveal .custom-subtitle {
  color: #ffffff;
  font-size: 1.8em;
  position: absolute; 
  left: 800px; 
  top: 450px
}